.canvas {
    background-image: url("images/stair2.png");
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .hidden {
    display: none;
   }

   .canvasDiv {
    display: flex;
    justify-content: center;
   }